name: Rust

on:
  push:
    branches: [ main ]
    tags:
      - '*'
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  build-with-pgo: false

jobs:
  build-and-test:
    strategy:
      matrix:
        include:
          # Linux Targets (Ubuntu) - std features
          - { os: ubuntu-latest, target: x86_64-unknown-linux-gnu, use-pgo: true, use-cross: false, features: "std mmap" }
          - { os: ubuntu-latest, target: x86_64-unknown-linux-gnu, use-pgo: true, use-cross: false, features: "std mmap no-format" }
          - { os: ubuntu-latest, target: x86_64-unknown-linux-gnu, use-pgo: true, use-cross: false, features: "std mmap no-format trim-file-lengths" }

          # Linux Targets (Ubuntu) - no_std features
          - { os: ubuntu-latest, target: x86_64-unknown-linux-gnu, use-pgo: true, use-cross: false, features: "mmap" }
          - { os: ubuntu-latest, target: x86_64-unknown-linux-gnu, use-pgo: true, use-cross: false, features: "mmap no-format" }
          - { os: ubuntu-latest, target: x86_64-unknown-linux-gnu, use-pgo: true, use-cross: false, features: "mmap no-format trim-file-lengths" }

          - { os: ubuntu-latest, target: i686-unknown-linux-gnu, use-pgo: true, use-cross: false, features: "std mmap" }
          - { os: ubuntu-latest, target: i686-unknown-linux-gnu, use-pgo: true, use-cross: false, features: "std mmap no-format" }
          - { os: ubuntu-latest, target: i686-unknown-linux-gnu, use-pgo: true, use-cross: false, features: "std mmap no-format trim-file-lengths" }

          - { os: ubuntu-latest, target: aarch64-unknown-linux-gnu, use-pgo: false, use-cross: true, features: "std mmap" }
          - { os: ubuntu-latest, target: aarch64-unknown-linux-gnu, use-pgo: false, use-cross: true, features: "std mmap no-format" }
          - { os: ubuntu-latest, target: aarch64-unknown-linux-gnu, use-pgo: false, use-cross: true, features: "std mmap no-format trim-file-lengths" }

          - { os: ubuntu-latest, target: armv7-unknown-linux-gnueabihf, use-pgo: false, use-cross: true, features: "std mmap" }
          - { os: ubuntu-latest, target: armv7-unknown-linux-gnueabihf, use-pgo: false, use-cross: true, features: "std mmap no-format" }
          - { os: ubuntu-latest, target: armv7-unknown-linux-gnueabihf, use-pgo: false, use-cross: true, features: "std mmap no-format trim-file-lengths" }

          # Windows Targets - std features
          - { os: windows-latest, target: x86_64-pc-windows-msvc, use-pgo: true, use-cross: false, features: "std mmap" }
          - { os: windows-latest, target: x86_64-pc-windows-msvc, use-pgo: true, use-cross: false, features: "std mmap no-format" }
          - { os: windows-latest, target: x86_64-pc-windows-msvc, use-pgo: true, use-cross: false, features: "std mmap no-format trim-file-lengths" }

          # Windows Targets - no_std features
          - { os: windows-latest, target: x86_64-pc-windows-msvc, use-pgo: true, use-cross: false, features: "mmap" }
          - { os: windows-latest, target: x86_64-pc-windows-msvc, use-pgo: true, use-cross: false, features: "mmap no-format" }

          - { os: windows-latest, target: i686-pc-windows-msvc, use-pgo: true, use-cross: false, features: "std mmap" }
          - { os: windows-latest, target: i686-pc-windows-msvc, use-pgo: true, use-cross: false, features: "std mmap no-format" }
          - { os: windows-latest, target: i686-pc-windows-msvc, use-pgo: true, use-cross: false, features: "std mmap no-format trim-file-lengths" }
          # aarch64 is disabled; because there is no native runner

          # macOS Targets - std features
          - { os: macos-15-intel, target: x86_64-apple-darwin, use-pgo: true, use-cross: false, features: "std mmap" }
          - { os: macos-15-intel, target: x86_64-apple-darwin, use-pgo: true, use-cross: false, features: "std mmap no-format" }
          - { os: macos-15-intel, target: x86_64-apple-darwin, use-pgo: true, use-cross: false, features: "std mmap no-format trim-file-lengths" }

          # macOS Targets - no_std features
          - { os: macos-15-intel, target: x86_64-apple-darwin, use-pgo: true, use-cross: false, features: "mmap" }

          - { os: macos-latest, target: aarch64-apple-darwin, use-pgo: true, use-cross: false, features: "std mmap" }
          - { os: macos-latest, target: aarch64-apple-darwin, use-pgo: true, use-cross: false, features: "std mmap no-format" }
          - { os: macos-latest, target: aarch64-apple-darwin, use-pgo: true, use-cross: false, features: "std mmap no-format trim-file-lengths" }

          # Android Targets (Cross-compiled on Ubuntu)
          - { os: ubuntu-latest, target: x86_64-linux-android, use-pgo: false, use-cross: true, features: "std mmap" }
          - { os: ubuntu-latest, target: x86_64-linux-android, use-pgo: false, use-cross: true, features: "std mmap no-format" }
          - { os: ubuntu-latest, target: x86_64-linux-android, use-pgo: false, use-cross: true, features: "std mmap no-format trim-file-lengths" }

          - { os: ubuntu-latest, target: i686-linux-android, use-pgo: false, use-cross: true, features: "std mmap" }
          - { os: ubuntu-latest, target: i686-linux-android, use-pgo: false, use-cross: true, features: "std mmap no-format" }
          - { os: ubuntu-latest, target: i686-linux-android, use-pgo: false, use-cross: true, features: "std mmap no-format trim-file-lengths" }

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6

      - name: Run Tests and Coverage
        uses: Reloaded-Project/devops-rust-test-and-coverage@v1
        with:
          rust-project-path: ./src
          upload-coverage: true
          codecov-token: ${{ secrets.CODECOV_TOKEN }}
          target: ${{ matrix.target }}
          use-cross: ${{ matrix.use-cross }}
          features: ${{ matrix.features }}

      - name: Run cargo-semver-checks
        if: github.event_name == 'pull_request' || startsWith(github.ref, 'refs/tags/')
        working-directory: src
        shell: bash
        run: |
          SEARCH_RESULT=$(cargo search "^lightweight-mmap$" --limit 1)

          if echo "$SEARCH_RESULT" | grep -q "^lightweight-mmap "; then
            rustup target add ${{ matrix.target }}
            # binstall installed in devops-rust-test-and-coverage@v1
            cargo binstall cargo-semver-checks
            ## Replace spaces with commas.
            cargo semver-checks --target ${{ matrix.target }} --features "$(echo "${{ matrix.features }}" | tr ' ' ',')"
          else
            echo "No previous version found on crates.io. Skipping semver checks."
          fi

      - name: Check documentation is valid
        if: github.event_name == 'pull_request' || startsWith(github.ref, 'refs/tags/')
        working-directory: src
        env:
          RUSTDOCFLAGS: "-D warnings"
        run: cargo doc --workspace --all-features --document-private-items --target ${{ matrix.target }}

      - name: Run linter
        if: github.event_name == 'pull_request' || startsWith(github.ref, 'refs/tags/')
        working-directory: src
        run: cargo clippy --workspace --all-features --target ${{ matrix.target }} -- -D warnings

      - name: Run formatter check
        uses: actions-rust-lang/rustfmt@v1
        if: github.event_name == 'pull_request' || startsWith(github.ref, 'refs/tags/')
        with:
          manifest-path: src/Cargo.toml

  test-on-wine:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [x86_64-pc-windows-gnu, i686-pc-windows-gnu]
    steps:
      - uses: actions/checkout@v6

      - name: Run Tests and Coverage on WINE
        uses: Reloaded-Project/devops-rust-test-and-coverage@v1
        with:
          rust-project-path: ./src
          upload-coverage: true
          codecov-token: ${{ secrets.CODECOV_TOKEN }}
          target: ${{ matrix.target }}
          use-cross: true
          additional-test-args: --release

  publish-crate:
    permissions:
      contents: write
    needs: [build-and-test, test-on-wine]
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Publish Rust Crate and Artifacts
        uses: Reloaded-Project/devops-publish-action@v3
        with:
          rust-crates-io-token: ${{ secrets.CRATES_IO_TOKEN }}
          rust-cargo-project-paths: src/lightweight-mmap
          compression-tool: 7z
          artifact-groups-file: .github/artifact-groups.yml
          changelog-enabled: 'true'
          changelog-template: .github/changelog.hbs
          changelog-is-release: ${{ startsWith(github.ref, 'refs/tags/') }}
          changelog-release-tag: ${{ github.ref_name }}
          changelog-override-starting-version: 'true'
          changelog-hide-credit: 'true'
